.entrepreneur img {
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
}
.entrepreneur a {
  font-size: 16px;
  font-weight: 700;
  color: #011a28;
  transition: ease-in 0.3s;
}
.entrepreneur a:hover {
  text-decoration: underline !important;
}
